<!DOCTYPE html>
<html>
<head>
  <title>Criar Usuário</title>
</head>
<body>
  <h1>Criar Usuário</h1>
  <form action="/users/create" method="POST" enctype="multipart/form-data">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="role">Role:</label>
    <br>
    <input type="radio" id="admin" name="role" value="ADMIN" required>
    <label for="admin">ADMIN</label>
    <br>
    <input type="radio" id="user" name="role" value="USER" required>
    <label for="user">USER</label>
    <br>
    <label for="modules">Módulos:</label>
    <br>
    <input type="checkbox" id="financeiro" name="modules" value="FINANCEIRO">
    <label for="financeiro">Financeiro</label>
    <br>
    <input type="checkbox" id="produto" name="modules" value="PRODUTO">
    <label for="produto">Produto</label>
    <br>
    <input type="checkbox" id="relatorio" name="modules" value="RELATORIO">
    <label for="relatorio">Relatório</label>
    <br>
    <label for="image">Foto de Perfil:</label>
    <input type="file" id="image" name="image">
    <br>
    <button type="submit">Criar Usuário</button>
  </form>
  <p><%= message %></p>
</body>
</html>
