<!DOCTYPE html>
<html>
<head>
  <title>Tela Inicial</title>
</head>
<body>
  <%- include('includes/head') %>
  <%- include('includes/nav') %>

  <h1>Tela Inicial</h1>
  <% if (user) { %>
    <p>Olá, <%= user.email %></p>

    <!-- Botões para os módulos -->
    <a href="/financeiro">Financeiro</a>
    <br>
    <a href="/produto">Produto</a>
    <br>
    <a href="/relatorio">Relatório</a>
    <br>
    <form action="/auth/logout" method="POST">
      <button type="submit">Sair</button>
    </form>
  <% } else { %>
    <a href="/auth/login">Login</a>
    <br>
    <a href="/auth/register">Registrar</a>
  <% } %>
</body>
</html>
